<div class="row">
  <div class="col-md-10">
    <h1>Veiculos</h1>
  </div>

  <div class="col-md-2">
    <a class="btn btn-success col-md-12" role="button" ng-click="showNew()">Adicionar veiculo</a>
  </div>
</div>

<div class="row">

  <div class="col-md-9">
    <table class="table" ng-show="list.length">
      <thead>
	<th>ID</th>
	<th>Tipo</th>
	<th>Montadora</th>
	<th>Modelo</th>
	<th>Ano</th>
	<th>Cor</th>
	<th>Motor</th>
	<th>Quilometragem</th>
	<th>&nbsp;</th>
      </thead>
      <tr ng-repeat="item in list">
	<td>{{item.id}}</td>
	<td>{{item.model_info.model_type|display_type}}</td>
	<td>{{item.model_info.auto_maker_info.name}}</td>
	<td>{{item.model_info.name}}</td>
	<td>{{item.model_info.year}}</td>
	<td>{{item.color|displayColor}}</td>
	<td>{{item.engine|displayEngine:item.model_info.model_type}}</td>
	<td>{{item.mileage}}</td>
	<td><input class="btn btn-success btn-xs" type="button" value="Editar" ng-click="edit(item)"> <input class="btn btn-danger btn-xs" type="button" value="Apagar" ng-click="deleteConfirm(item)"></td>
      <tr>
    </table>
    <i ng-hide="list.length">Nenhum veiculo encontrato</i>
  </div>

  <div class="col-md-3"> <!-- Left sidebar -->
    <div class="container-fluid">
      <div class="row">
	<h4>Filtrar</h4>
	<form>
	  <div class="form-group">
	    <label for="filter-type-filter">Tipo</label>
	    <select id="filter-type-filter" name="filter-type" class="form-control" ng-model="filters.type" ng-change="filterChanged()">
	      <option value="">&nbsp;</option>
	      <option value="car">Carro</option>
	      <option value="motorcycle">Moto</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="auto-maker-filter">Montadora</label>
	    <select id="auto-maker-filter" class="form-control" ng-change="filterChanged()" ng-model="filters.auto_maker" ng-options="i.id as i.name for i in auto_maker_list">
	      <option value=""></option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="model-filter">Modelo</label>
	    <select id="model-filter" class="form-control" ng-change="filterChanged()" ng-model="filters.model" ng-options="i.id as i.name + ' ' + i.year for i in model_list">
	      <option value=""></option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="color-filter">Cor</label>
	    <select id="color-filter" class="form-control" ng-change="filterChanged()" ng-model="filters.color" ng-options="i.id as i.name for i in color_list">
	      <option value=""></option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label>Ano</label>
	    <div class="row">
	      <div class="col-xs-6">
		<input type="text" class="form-control input-sm" placeholder="De" ng-model="filters.year_start" ng-blur="filterChanged()">
	      </div>
	      <div class="col-xs-6">
		<input type="text" class="form-control input-sm" placeholder="Ate" ng-model="filters.year_end" ng-blur="filterChanged()">
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label>Kilometragem</label>
	    <div class="row">
	      <div class="col-xs-6">
		<input type="text" class="form-control input-sm" placeholder="De" ng-model="filters.mileage_start" ng-blur="filterChanged()">
	      </div>
	      <div class="col-xs-6">
		<input type="text" class="form-control input-sm" placeholder="Ate" ng-model="filters.mileage_end" ng-blur="filterChanged()">
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label>Motor</label>
	    <div class="row">
	      <div class="col-xs-6">
		<input type="text" class="form-control input-sm" placeholder="De" ng-model="filters.engine_start" ng-blur="filterChanged()">
	      </div>
	      <div class="col-xs-6">
		<input type="text" class="form-control input-sm" placeholder="Ate" ng-model="filters.engine_end" ng-blur="filterChanged()">
	      </div>
	    </div>
	  </div>
	</form>
      </div>

    </div>
  </div> <!-- / Left sidebar -->

</div>


<div class="modal fade" id="newVehicleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-submit="save(vehicle)">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" ng-hide="vehicle.id">Novo Veículo</h4>
	  <h4 class="modal-title" ng-show="vehicle.id">Editar Veículo "{{vehicle.name}}"</h4>
	</div>
	<div class="modal-body">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="form-group">
		<label for="inputName">Montadora</label>
		<select class="form-control" ng-model="vehicle.auto_maker" ng-options="i.id as i.name for i in auto_maker_list"></select>
	      </div>
	      <div class="form-group">
		<label for="inputName">Modelo</label>
		<select ng-disabled="! vehicle.auto_maker" class="form-control" ng-model="vehicle.model" ng-options="i.id as i.name + ' ' + i.year for i in model_list_to_add"></select>
	      </div>
	      <div class="form-group">
		<label for="inputName">Cor</label>
		<select class="form-control" ng-model="vehicle.color" ng-options="i.id as i.name for i in color_list"></select>
	      </div>
	      <div class="form-group">
		<label for="inputName">Quilometragem</label>
		<input type="text" class="form-control" placeholder="" required="true" ng-model="vehicle.mileage">
	      </div>
	      <div class="form-group">
		<label for="inputName">Motor</label>
		<input type="text" class="form-control" placeholder="" required="true" ng-model="vehicle.engine">
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Gravar</button>
	</div>
      </form>
    </div>
  </div>
</div>

<modal-delete-item
   modal-id="modalDeleteVehicle"
   entity="Veiculo"
   name="{{vehicle.id}}"
   item="vehicle"
   on-confirm="delete(vehicle)"></modal-delete-item>
