<div class="modal fade" id="newVehicleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="vehicleForm" ng-submit="vehicleForm.$valid && save(vehicle)" novalidate>
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" ng-hide="vehicle.id">Novo Veículo</h4>
	  <h4 class="modal-title" ng-show="vehicle.id">Editar Veículo "{{vehicle.model_info.auto_maker_info.name}} {{vehicle.model_info.name}} {{vehicle.model_info.year}}"</h4>
	</div>
	<div class="modal-body">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="form-group" ng-class="{'has-error': vehicleForm.autoMaker.$invalid && vehicleForm.autoMaker.$dirty}">
		<label class="control-label" for="vehicle-auto-maker">Montadora</label>
		<select id="vehicle-auto-maker" name="autoMaker" class="form-control" ng-model="vehicle.auto_maker" ng-options="i.id as i.name for i in auto_maker_list" required><option value=""></option></select>
	      </div>
	      <div class="form-group" ng-class="{'has-error': vehicleForm.model.$invalid && vehicleForm.model.$dirty}">
		<label class="control-label" for="vehicle-model">Modelo</label>
		<select id="vehicle-model" name="model" ng-disabled="! vehicle.auto_maker" class="form-control" ng-model="vehicle.model" ng-options="i.id as i.name + ' ' + i.year for i in model_list_to_add" required><option value="">&nbsp;</option></select>
	      </div>
	      <div class="form-group" ng-class="{'has-error': vehicleForm.color.$invalid && vehicleForm.color.$dirty}">
		<label class="control-label" for="vehicle-color">Cor</label>
		<select id="vehicle-color" name="color" class="form-control" ng-model="vehicle.color" ng-options="i.id as i.name for i in color_list" required><option value="">&nbsp;</option></select>
	      </div>
	      <div class="form-group" ng-class="{'has-error': vehicleForm.mileage.$invalid && vehicleForm.mileage.$dirty}">
		<label class="control-label" for="vehicle-mileage">Quilometragem</label>
		<input id="vehicle-mileage" name="mileage" type="number" class="form-control" placeholder="" ng-model="vehicle.mileage" required>
	      </div>
	      <div class="form-group" ng-class="{'has-error': vehicleForm.engine.$invalid && vehicleForm.engine.$dirty}">
		<label class="control-label" for="vehicle-engine">Motor</label>
		<input id="vehicle-engine" name="engine" type="number" class="form-control" placeholder="" ng-model="vehicle.engine" required>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary" ng-disabled="vehicleForm.$invalid">Gravar</button>
	</div>
      </form>
    </div>
  </div>
</div>
