<div class="row">
  <div class="col-md-10">
    <h1>Veiculos</h1>
  </div>

  <div class="col-md-2">
    <a class="btn btn-success col-md-12" href="#" role="button">Adicionar veiculo</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Carros</a></li>
      <li role="presentation"><a href="#">Motos</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table">
      <thead>
	<th>ID</th>
	<th>Montadora</th>
	<th>Modelo</th>
	<th>Cor</th>
	<th>Kilometragem</th>
      </thead>
      <tr>
	<td>1</td>
	<td>Toyota</td>
	<td>Corolla</td>
	<td>Prata</td>
	<td>2.0</td>
      <tr>
      <tr>
	<td>1</td>
	<td>Toyota</td>
	<td>Corolla</td>
	<td>Prata</td>
	<td>2.0</td>
      <tr>
    </table>
  </div>

  <div class="col-md-3"> <!-- Left sidebar -->
    <div class="container-fluid">
      <div class="row">
	<h4>Filtrar</h4>
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Montadora</label>
	    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Modelo</label>
	    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Cor</label>
	    <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Kilometragem</label>
	    <div class="row">
	      <div class="col-xs-6">
		<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="De">
	      </div>
	      <div class="col-xs-6">
		<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Ate">
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Motor</label>
	    <div class="row">
	      <div class="col-xs-6">
		<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="De">
	      </div>
	      <div class="col-xs-6">
		<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Ate">
	      </div>
	    </div>
	  </div>
	</form>
      </div>

    </div>
  </div> <!-- / Left sidebar -->

</div>
