{% load staticfiles %}
<!doctype html>
<html ng-app="autos">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	  crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">Autos (by Alisson R. Perez)</a>
	</div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	<div class="col-md-2">
	  <nav-bar></nav-bar>
	</div>
	<div class="col-md-10" ui-view></div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="{% static 'front/js/angular-ui-router.min.js' %}"></script>

    <script>
      // Workaround para determinar a url dos assets.
      var STATIC_URL = '{% static '' %}';

      // URL estatica para os assets
      function su(url){
      return STATIC_URL + url;
      }

      // URL estatica para o diretorio JS
      function suJs(url){
      return STATIC_URL + 'front/js/' + url;
      }
    </script>
    <script src="{% static 'front/js/utils.js' %}"></script>
    <script src="{% static 'front/js/app.js' %}"></script>
    <script src="{% static 'front/js/controllers.js' %}"></script>
    <script src="{% static 'front/js/directives.js' %}"></script>
    <script src="{% static 'front/js/providers.js' %}"></script>
    <script src="{% static 'front/js/filters.js' %}"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
